.jumbotron {
  margin-top: 25px;
}


.clock {
  font-size: 60px; 
  height: 100px;
  width: 55%;
  line-height: 100px;  
  margin: 20px auto 0;
  padding: 0 50px;
  background: #222;
  color: orange;
  text-align: center;
  border-radius: 15px;
  box-shadow: 0 0 7px #222;
  text-shadow: 0 0 3px #fff;
}